<!--The content below is only a placeholder and can be replaced.-->
<div class="main-container">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <router-outlet class="main-content"></router-outlet>
    <ul class="footer-ul">
      <li class="footer-li">
        <h2><a target="_blank" rel="noopener" href="mailto:lev.nadav@gmail.com">lev.nadav@gmail.com</a></h2>
      </li>
      <li class="footer-li">
        <h2><a target="_blank" rel="noopener" href="https://github.com/nadavlev">My Github</a></h2>
      </li>
      <li class="footer-li">
        <h2><a target="_blank" rel="noopener" href="https://www.linkedin.com/in/nadav-lev/">Linkedin</a></h2>
      </li>
    </ul>
</div>



